<form [formGroup]="form"
      (ngSubmit)="submit()">
  <div class="form-group">
    <label for="item">Item to purchase</label>
    <input type="text"
           name="item"
           formControlName="item"
           class="form-control">
    <div class="alert alert-danger"
         *ngIf="item.invalid && (item.touched|| item.dirty)">
      <p *ngIf="item.errors?.required">This is required</p>
      <p *ngIf="item.errors?.maxlength">That is toomany characters</p>
    </div>
  </div>
  <button type="submit"
          class="btn btn-primary">Add to list</button>
</form>
